{% extends 'base.html' %}
{% block title %}Каталог автотрансопрта{% endblock %}
{% load static %}
{% block content %}
{#  <link rel="stylesheet" href="{% static 'css/Article-List.css' %}">#}
        <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
{#        <link rel="stylesheet" href="{% static 'css/Features-Boxed.css' %}">#}
        <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
{#        <link rel="stylesheet" href="{% static 'css/styles.css' %}">#}
        <link rel="stylesheet" href="{% static 'css/table-css.css' %}">
{#       <script src="{% static 'js/all.js' %}"></script>#}
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/table-equipment.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>

<h4 style="position: absolute; top: 15px; left: 22%;color:#adb7b7;">Автотранспорт</h4>
  <!-- End: Navigation with Button -->
    <div class="container-fluid" style="padding-top: 20px;">
        <div class="row">
            <div class="col-12" id="otchetTableContragent"><div class="wrapper-modal-editor">

   <div class="row d-flex justify-content-center modalWrapper">
    <div class="modal fade addNewInputs" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAdd"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Добавить транспорт</h4>
            <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close" onclick="clearFieldModalAdd()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">

              <div class="md-form mb-5">
              <input type="text" id="idInvis" class="form-control" style="cursor: not-allowed" readonly="" hidden>
              <label data-error="измените" data-success="принято" for="idInvis"></label>
            </div>


              <div class="md-form mb-5">
                <input type="text" id="contragent"  list="browsersAdd"   class="form-control">
                <datalist id="browsersAdd">
                    {% for i in agent %}
                        <option id="{{ i.id }}" value="{{ i.name }}">
                    {% endfor %}
                </datalist>
              <label data-error="измените" data-success="принято" for="contragent">Контрагент</label>

            </div>

              <div class="md-form mb-5">
              <input type="text" id="number" class="form-control">
              <label data-error="измените" data-success="принято" for="number">Номер авто</label>
            </div>

		    <div class="md-form mb-5">
              <input type="text" id="model" class="form-control">
              <label data-error="измените" data-success="принято" for="model">Модель и серия транспорта</label>
            </div>


		     <div class="md-form mb-5">
              <input type="text" id="tara" class="form-control">
              <label data-success="принято" for="tara">Вес тары</label>
            </div>

            <div class="md-form mb-5">
              <input type="date" id="dateAdd" class="form-control" readonly="" required style="cursor: not-allowed;" hidden>
              <label data-error="измените" data-success="принято" for="dateAdd"></label>
            </div>

          </div>
          <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
            <button class="btn btn-outline-primary btn-block buttonAdd"  onclick="addAuto()" data-dismiss="modal">Добавить
              <i class="fas fa-plus-square ml-1"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <a href="" class="btn btn-info btn-rounded btn-sm" data-toggle="modal" data-target="#modalAdd">Добавить<i
          class="fas fa-plus-square ml-1"></i></a>
    </div>

    <div class="modal fade modalEditClass" id="modalEdit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">Измение транспорта</h4>
            <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close" onclick="clearFieldModalAdd()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <div class="modal-body mx-3">

            <div class="md-form mb-5">
            <input type="text" id="auto_id" hidden>
            <label></label>
            </div>

            <div class="md-form mb-5">
            <input type="text" id="auto_id" hidden>
            <input type="text" id="contragent_upd" list="browsersUpd" class="form-control validate">
                <datalist id="browsersUpd">
                    {% for i in agent %}
                        <option id="{{ i.id }}" value="{{ i.name }}">{{ i.name }}</option>
                    {% endfor %}
                </datalist>
              <label data-error="измените" data-success="принято" for="contragent_upd">Контрагент</label>
            </div>

              <div class="md-form mb-5">
              <input type="text" id="number_upd" class="form-control validate">
              <label data-error="измените" data-success="принято" for="number">Номер авто</label>
            </div>

		    <div class="md-form mb-5">
              <input type="text" id="model_upd" class="form-control validate">
              <label data-error="измените" data-success="принято" for="model">Модель и серия транспорта</label>
            </div>


		     <div class="md-form mb-5">
              <input type="text" id="tara_upd" class="form-control validate">
              <label data-success="принято" for="tara">Вес тары</label>
            </div>

           <div class="md-form mb-5">
              <input type="date" id="dateUpd" class="form-control" readonly="" required style="cursor: not-allowed;" hidden>
              <label data-error="измените" data-success="принято" for="dateUpd"></label>
            </div>


          </div>
          <div class="modal-footer d-flex justify-content-center editInsideWrapper">
            <button onclick="updAuto()" class="btn btn-outline-secondary btn-block editInside" data-dismiss="modal">Изменить
              <i class="fas fa-pencil-alt ml-1"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center buttonEditWrapper">
      <button class="btn btn-info btn-rounded btn-sm buttonEdit" data-toggle="modal" data-target="#modalEdit"
        disabled>Изменить<i class="fas fa-pencil-alt ml-1"></i></button>
    </div>

    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold ml-5 text-danger">Удалить</h4>
            <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <p class="text-center h4">Вы уверены что хотите удалить выбранный автотранспорт?</p>

          </div>
          <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
            <button type="button" class="btn btn-danger btnYesClass" id="btnYes" data-dismiss="modal" onclick="deleteAuto()">Да</button>
            <button type="button" class="btn btn-primary btnNoClass" id="btnNo" data-dismiss="modal">Нет</button>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button class="btn btn-danger btn-sm btn-rounded buttonDelete" data-toggle="modal" disabled data-target="#modalDelete"
        disabled>Удалить<i class="fas fa-times ml-1"></i></button>
    </div>
  </div>

<table id="editibleTable" class="table table-bordered table-hover table-sm text-center" cellspacing="0" width="100%">
  <thead>
    <tr>
         <th class="th-sm">id</th>
      <th class="th-sm">Контрагент</th>
      <th class="th-sm">Номер авто</th>
        <th class="th-sm">Модель авто</th>
	  <th class="th-sm">Тара</th>
      <th class="th-sm">Дата добавления</th>

    </tr>
  </thead>
  <tbody>
  {% for a in auto %}
    <tr>
     <td>{{ a.id }}</td>
      <td>{{ a.agent.name }}</td>
      <td>{{ a.number }}</td>
         <td>{{ a.model }}</td>
      <td>{{ a.tara }}</td>
      <td>{{ a.date_add }}</td>
    </tr>
  {% endfor %}


  </tbody>
	<tfoot>
		<tr>
        <th >id</th>
      <th >Контрагент</th>
      <th >Номер авто</th>
        <th >Модель авто</th>
	  <th >Тара</th>
      <th >Дата добавления</th>
			</tr>
      </tfoot>
</table>


	</div>
        </div>
    </div>
    </div>

<script>

const clearFieldModalAdd = () => {
    $('#contragent').val('');
        $('#number').val('');
        $("#model").val('');
        $("#tara").val('');
};



    function addAuto() {
        let findIdContragent=$('#contragent').val();

        let agent = $('option[value='+findIdContragent+']').attr("id");
        let number = $('#number').val();
        let model = $("#model").val();
        let ves = $("#tara").val();
        let data={
            'agent':agent,
            'number':number,
            'model':model,
            'ves':ves
        };
        {#console.log(data);#}
        $.ajax({
                type: "POST",
                url: '{% url 'ves:catalogAutoAdd' %}',
                traditional: true,
                dataType: 'json',
                data: data,
                success: function (dat) {
                    console.log("auto added");
                    clearFieldModalAdd();
                    document.location.reload(true);
                },
                error: function(){
                    document.location.reload(true);
                 },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });


    }

    function updAuto() {
        let findIdContragent=$('#contragent_upd').val();

        let id = $("#auto_id").val();
        let agent = $('option[value='+findIdContragent+']').attr("id");
        let number = $('#number_upd').val();
        let model = $("#model_upd").val();
        let ves = $("#tara_upd").val();
        let data={
            'id':id,
            'agent':agent,
            'number':number,
            'model':model,
            'ves':ves
        };
        {#console.log(data);#}
        $.ajax({
                type: "POST",
                url: '{% url 'ves:catalogAutoUpd' %}',
                traditional: true,
                dataType: 'json',
                data: data,
                success: function (dat) {
                    console.log("auto update");
                    clearFieldModalAdd();
                    document.location.reload(true);
                },
                error: function(){
                    document.location.reload(true);
                 },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
    }



{#САША ДОПИШИ УДАЛЕНИЕ, селекторы забирают все переменные выделенной строки#}
function deleteAuto() {
        let id = $("tr + .tr-color-selected > td:eq(0)").text();
        let agent = $("tr + .tr-color-selected > td:eq(1)").text()
        let number = $("tr + .tr-color-selected > td:eq(2)").text()
        let model = $("tr + .tr-color-selected > td:eq(3)").text()
        let ves = $("tr + .tr-color-selected > td:eq(4)").text()
        let data={
            'id':id,
            'agent':agent,
            'number':number,
            'model':model,
            'ves':ves
        };
        console.log(data);
        {#$.ajax({#}
        {#        type: "POST",#}
        {#        url: '{% url 'ves:catalogAutoDelete' %}',#}
        {#        traditional: true,#}
        {#        dataType: 'json',#}
        {#        data: data,#}
        {#        success: function (dat) {#}
        {#            console.log("auto update");#}
        {#        },#}
        {#        beforeSend: function (xhr, settings) {#}
        {#            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {#}
        {#                xhr.setRequestHeader("X-CSRFToken", csrftoken);#}
        {#            }#}
        {#        }#}
        {#    });#}
    }








</script>

{#<script>#}
{#let nowAdd = new Date();#}
{#let dayAdd = ("0" + nowAdd.getDate()).slice(-2);#}
{#let monthAdd = ("0" + (nowAdd.getMonth() + 1)).slice(-2);#}
{#let todayAdd = nowAdd.getFullYear()+"-"+(monthAdd)+"-"+(dayAdd) ;#}
{##}
{#$('#dateAdd').val(todayAdd);#}
{#$('#dateUpd').val(todayAdd);#}
{#$('#idInvis').val('Id XXXXX');#}
{#</script>#}

{#    <style>#}
{#    input[type="time"]{#}
{#    width:120px;#}
{#      border: none;#}
{#      clip-path: inset(0 17px 0 0);#}
{#      outline:none;#}
{#      outline:0;#}
{#}#}
{##}
{##}
{#    </style>#}

    {#   запрет на выделение обычного текста #}
    <script>
    function preventSelection(element){
            var preventSelection = false;

        function addHandler(element, event, handler){
         if (element.attachEvent)
      element.attachEvent('on' + event, handler);
    else
      if (element.addEventListener)
        element.addEventListener(event, handler, false);
  }
  function removeSelection(){
    if (window.getSelection) { window.getSelection().removeAllRanges(); }
    else if (document.selection && document.selection.clear)
      document.selection.clear();
  }
  function killCtrlA(event){
    var event = event || window.event;
    var sender = event.target || event.srcElement;

    if (sender.tagName.match(/INPUT|TEXTAREA/i))
      return;

    var key = event.keyCode || event.which;
    if (event.ctrlKey && key == 'A'.charCodeAt(0))  // 'A'.charCodeAt(0) можно заменить на 65
    {
      removeSelection();

      if (event.preventDefault)
        event.preventDefault();
      else
        event.returnValue = false;
    }
  }

  // не даем выделять текст мышкой
  addHandler(element, 'mousemove', function(){
    if(preventSelection)
      removeSelection();
  });
  addHandler(element, 'mousedown', function(event){
    var event = event || window.event;
    var sender = event.target || event.srcElement;
    preventSelection = !sender.tagName.match(/INPUT|TEXTAREA/i);
  });

  // борем dblclick
  // если вешать функцию не на событие dblclick, можно избежать
  // временное выделение текста в некоторых браузерах
  addHandler(element, 'mouseup', function(){
    if (preventSelection)
      removeSelection();
    preventSelection = false;
  });

  // борем ctrl+A
  // скорей всего это и не надо, к тому же есть подозрение
  // что в случае все же такой необходимости функцию нужно
  // вешать один раз и на document, а не на элемент
  addHandler(element, 'keydown', killCtrlA);
  addHandler(element, 'keyup', killCtrlA);
}

$(document).ready ( function(){
 preventSelection(document);
});
    </script>

    <style>
    input[type="time"]{
    width:120px;
      border: none;
      clip-path: inset(0 17px 0 0);
      outline:none;
      outline:0;
}


    </style>
     {% endblock %}