{% extends 'base.html' %}
{% block title %}Каталог автотрансопрта{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
<link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
<link rel="stylesheet" href="{% static 'css/table-css.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/table-equipment.js' %}"></script>
<script src="{% static 'js/mdb.min.js' %}"></script>

<h4 style="position: absolute; top: 15px; left: 26%;color:#adb7b7;">Продукция</h4>


<!-- End: Navigation with Button -->
<div class="container-fluid" style="padding-top: 20px;">
    <div class="row">
        <div class="col-12" id="otchetTableContragent">
            <div class="wrapper-modal-editor">

                <div class="row d-flex justify-content-center modalWrapper">
                    <div class="modal fade addNewInputs" id="modalAdd" tabindex="-1" role="dialog"
                        aria-labelledby="modalAdd" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Добавить продукцию
                                    </h4>
                                    <button type="button" class="close text-primary" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body mx-3">

                                    <div class="md-form mb-5">
                                        <input type="text" class="form-control" hidden>
                                    </div>

                                    <div class="md-form mb-5">
                                        <input type="text" id="nameAdd" class="form-control">
                                        <label data-error="измените" data-success="принято"
                                            for="nameAdd">Наименование</label>
                                    </div>

                                    <div class="md-form mb-5">
                                        <input type="text" id="nameInvoiceAdd" class="form-control">
                                        <label data-error="измените" data-success="принято"
                                            for="nameInvoiceAdd">Наименование в накладных</label>
                                    </div>

                                    <div class="md-form mb-5">
                                        <input type="text" id="characteristicTmcAdd" class="form-control">
                                        <label data-error="измените" data-success="принято"
                                            for="characteristicTmcAdd">Характеристика ТМЦ</label>
                                    </div>

                                    <div class="md-form mb-5">
                                        <input type="text" id="typeTmcAdd" class="form-control">
                                        <label data-error="измените" data-success="принято" for="typeTmcAdd">Тип
                                            ТМЦ</label>
                                    </div>

                                    <div class="md-form mb-5">
                                        <input type="text" id="accountTmcAdd" class="form-control">
                                        <label data-error="измените" data-success="принято" for="accountTmcAdd">Счет
                                            ТМЦ</label>
                                    </div>

                                    <div class="md-form mb-5">
                                        <input type="text" id="accountAdd" class="form-control">
                                        <label data-error="измените" data-success="принято"
                                            for="accountAdd">Счет</label>
                                    </div>

                                    <div class="md-form mb-5">
                                        <input type="text" id="typeAccountingTmcAdd" class="form-control">
                                        <label data-error="измените" data-success="принято"
                                            for="typeAccountingTmcAdd">Вид учета ТМЦ</label>
                                    </div>

                                    <input type="text" class="form-control" hidden>
                                    <input type="text" class="form-control" hidden>


                                </div>
                                <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
                                    <button class="btn btn-outline-primary btn-block buttonAdd" onclick="addProduct()"
                                        data-dismiss="modal">Добавить
                                        <i class="fas fa-paper-plane-o ml-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <a href="" class="btn btn-info btn-rounded btn-sm" data-toggle="modal"
                            data-target="#modalAdd">Добавить<i class="fas fa-plus-square ml-1"></i></a>
                    </div>

                    <div class="modal fade modalEditClass" id="modalEdit" tabindex="-1" role="dialog"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">Измение продукта</h4>
                                    <button type="button" class="close text-secondary" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body mx-3">

                                    <div class="md-form mb-5">
                                        <input type="text" class="form-control" hidden>
                                    </div>

                                    <div class="md-form mb-5">
                                        <input type="text" id="nameUpdate" class="form-control">
                                        <label data-error="измените" data-success="принято"
                                            for="name">Наименование</label>
                                    </div>

                                    <div class="md-form mb-5">
                                        <input type="text" id="nameInvoiceUpdate" class="form-control">
                                        <label data-error="измените" data-success="принято"
                                            for="nameInvoiceAdd">Наименование в накладных</label>
                                    </div>

                                    <div class="md-form mb-5">
                                        <input type="text" id="characteristicTmcUpdate" class="form-control">
                                        <label data-error="измените" data-success="принято"
                                            for="characteristicTmcAdd">Характеристика ТМЦ</label>
                                    </div>

                                    <div class="md-form mb-5">
                                        <input type="text" id="typeTmcUpdate" class="form-control">
                                        <label data-error="измените" data-success="принято" for="typeTmcAdd">Тип
                                            ТМЦ</label>
                                    </div>

                                    <div class="md-form mb-5">
                                        <input type="text" id="accountTmcUpdate" class="form-control">
                                        <label data-error="измените" data-success="принято" for="accountTmcAdd">Счет
                                            ТМЦ</label>
                                    </div>

                                    <div class="md-form mb-5">
                                        <input type="text" id="accountUpdate" class="form-control">
                                        <label data-error="измените" data-success="принято"
                                            for="accountAdd">Счет</label>
                                    </div>

                                    <div class="md-form mb-5">
                                        <input type="text" id="typeAccountingTmcUpdate" class="form-control">
                                        <label data-error="измените" data-success="принято"
                                            for="typeAccountingTmcAdd">Вид учета ТМЦ</label>
                                    </div>

                                    <input type="text" class="form-control" hidden>
                                    <label>
                                        <input type="text" class="form-control" hidden>
                                    </label>


                                </div>
                                <div class="modal-footer d-flex justify-content-center editInsideWrapper">
                                    <button onclick="updateProduct()" class="btn btn-outline-secondary btn-block editInside"
                                        data-dismiss="modal">Изменить
                                        <i class="fas fa-paper-plane-o ml-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center buttonEditWrapper">
                        <button class="btn btn-info btn-rounded btn-sm buttonEdit" data-toggle="modal"
                            data-target="#modalEdit" disabled>Изменить<i
                                class="fas fa-pencil-square-o ml-1"></i></button>
                    </div>

                    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold ml-5 text-danger">Удалить</h4>
                                    <button type="button" class="close text-danger" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body mx-3">
                                    <p class="text-center h4">Вы уверены что хотите удалить выбранный продукт?</p>

                                </div>
                                <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
                                    <button type="button" class="btn btn-danger btnYesClass" id="btnYes"
                                        data-dismiss="modal">Да</button>
                                    <button type="button" class="btn btn-primary btnNoClass" id="btnNo"
                                        data-dismiss="modal">Нет</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-danger btn-sm btn-rounded buttonDelete" data-toggle="modal"
                            data-target="#modalDelete" disabled>Удалить<i class="fas fa-times ml-1"></i></button>
                    </div>
                </div>

                <table id="editibleTable" class="table table-bordered table-hover table-sm text-center" cellspacing="0"
                    style="width: 100%">
                    <thead>
                        <tr>
                            <th class="th-sm">id</th>
                            <th class="th-sm">Наименование</th>
                            <th class="th-sm">Наименование по накладной</th>
                            <th class="th-sm">Характеристика ТМЦ</th>
                            <th class="th-sm">Тип ТМЦ</th>
                            <th class="th-sm">Счет ТМЦ</th>
                            <th class="th-sm">Счет</th>
                            <th class="th-sm">Вид учета ТМЦ</th>
                            <th class="th-sm">Дата добавления</th>
                            <th class="th-sm">Дата обновления</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in production %}
                        <tr onclick="getId({{ a.id }})">
                            <td>{{ a.id }}</td>
                            <td>{{ a.name }}</td>
                            <td>{{ a.number }}</td>
                            <td>{{ a.characteristicTMC }}</td>
                            <td>{{ a.typeTMC }}</td>
                            <td>{{ a.scoreTMC }}</td>
                            <td>{{ a.score }}</td>
                            <td>{{ a.typeOfAccountTMC }}</td>
                            <td>{{ a.date_add }}</td>
                        <td>{{ a.date_update }}</td>
                        </tr>
                        {% endfor %}


                    </tbody>
                    <tfoot>
                        <tr>
                            <th>id</th>
                            <th>Наименование</th>
                            <th>Наименование по накладной</th>
                            <th>Характеристика ТМЦ</th>
                            <th>Тип ТМЦ</th>
                            <th>Счет ТМЦ</th>
                            <th>Счет</th>
                            <th>Вид учета ТМЦ</th>
                            <th>Дата добавления</th>
                            <th>Дата обновления</th>
                        </tr>
                    </tfoot>
                </table>


            </div>
        </div>
    </div>
</div>

<script>
let mega_id;
function  getId(id) {
mega_id = id;
}
    function addProduct() {
        let name = $('#nameAdd').val(),
            nameInvoice = $("#nameInvoiceAdd").val(),
            characteristicTmc = $("#characteristicTmcAdd").val(),
            typeTmc = $("#typeTmcAdd").val(),
            accountTmc = $("#accountTmcAdd").val(),
            account = $("#accountAdd").val(),
            typeAccountingTmc = $("#typeAccountingTmcAdd").val();

        let data={
            'name':name,
            'nameInvoice':nameInvoice,
            'characteristicTmc':characteristicTmc,
            'typeTmc':typeTmc,
            'accountTmc':accountTmc,
            'account':account,
            'typeAccountingTmc':typeAccountingTmc
        };
        $.ajax({
                type: "POST",
                url: '{% url 'productionAdd' %}',
                traditional: true,
                dataType: 'json',
                data: data,
                success: function () {
                    console.log("auto added");
                      document.location.reload(true);
                },
            error: function(){
                    console.log("error add product");
            },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
    }

    function updateProduct() {
        let name = $('#nameUpdate').val(),
            nameInvoice = $("#nameInvoiceUpdate").val(),
            characteristicTmc = $("#characteristicTmcUpdate").val(),
            typeTmc = $("#typeTmcUpdate").val(),
            accountTmc = $("#accountTmcUpdate").val(),
            account = $("#accountUpdate").val(),
            typeAccountingTmc = $("#typeAccountingTmcUpdate").val();

        let data={
            'name':name,
            'nameInvoice':nameInvoice,
            'characteristicTmc':characteristicTmc,
            'typeTmc':typeTmc,
            'accountTmc':accountTmc,
            'account':account,
            'typeAccountingTmc':typeAccountingTmc,
            'id':mega_id
        };
        $.ajax({
                type: "POST",
                url: '{% url 'productionUpd' %}',
                traditional: true,
                dataType: 'json',
                data: data,
                success: function () {
                    console.log("production added");
                      document.location.reload(true);
                },
                error: function(){
                    console.log('error update product')
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
    }
</script>



     {% endblock %}