<div class="container-fluid">
        <div class="row" style="padding-top: 5px;">
            <div class="col-12 d-xl-flex justify-content-xl-center">
                <h3 style="color: rgb(46,158,239);">Определение веса и номера транспорта</h3>
            </div>
        </div>
        <hr style="margin-top: 0px;">
        <div class="row no-gutters" id="lineVes" style="background-color: rgba(3,1,1,0.72);">
            <div class="col-2 align-self-center" id="ves">
                <div class="row no-gutters">
                    <div id="parentVesOnline" class="col-10 text-right" style="letter-spacing: 0px;background-color: #e6c100;margin-left: 10px;"><span id="vesOnline" style="font-family: Montserrat, sans-serif;font-size: 51px;cursor: not-allowed;padding-right: 10px;">140</span></div>
                    <div class="col-1 d-xl-flex justify-content-xl-end align-items-xl-end" style="margin-left: 5px;"><span style="font-family: Montserrat, sans-serif;font-size: 24px;color: rgb(225,227,230);">т</span></div>
                </div>
            </div>
            <div class="col-2 col-xl-2 align-self-center" id="brutto-netto" style="margin: 0px 30px;">
                <div class="row" style="color: rgb(255,255,255);">
                    <div class="col-8 text-right" style="background-color: #2f6017;"><span data-bs-hover-animate="flash" id="vesFix" style="font-family: Montserrat, sans-serif;font-size: 51px;cursor:pointer;" onclick="correct()">140</span></div>
                    <div class="col-4 d-xl-flex align-items-xl-center">
                        <div class="row">
                            <div class="col-12 text-center" style="background-color: #210445;"><span id="status" style="font-family: Montserrat, sans-serif;font-size: 24px;">брутто</span></div>
                            <div class="col-12 text-center"><span style="font-family: Montserrat, sans-serif;font-size: 24px;">т</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 col-xl-2 align-self-center" id="buttons" style="margin: 0px 20px;margin-left: 30px;margin-right: 30px;padding-top: 5px;padding-bottom: 5px;"><button class="btn btn-success btn-block btn-lg" type="button" onclick="fixVes()">Зафиксировать</button><button class="btn btn-outline-warning btn-block btn-lg" type="button" onclick="destroyFixVes()">Сброс</button></div>
            <div class="col-auto">
                <div style="border-left: 2px solid #007bff;height: 100%;"></div>
            </div>
            <div class="col-3 d-xl-flex justify-content-xl-center align-items-xl-center" id="numbers" style="color: rgb(236,238,241);padding: 0px 50px;">
                <div class="row">
                    <div class="col-12 text-center" style="font-size: 25px;padding: 0px;"><label class="col-form-label text-left" for="gos_num_avto" style="font-size: 16px;">Вагон<input class="border rounded border-primary text-right form-control" type="text" id="gos_num_avto" style="font-size: 30px;cursor: pointer;background-color: transparent;color: rgb(255,255,255);" placeholder="1234" maxlength="9" minlength="8" required="" onclick="correct_num()"></label></div>
                </div>
            </div>
            <div class="col-auto">
                <div style="border-left: 2px solid #007bff;height: 100%;"></div>
            </div>
            <div class="col-2 align-items-center align-self-center" style="color: rgb(240,244,248);padding-left: 20px;">
                <div class="text-left border rounded border-warning" style="padding: 5px 0px;">
                    <div class="form-check d-flex align-items-center" style="font-size: 20px;padding: 2px 30px;"><input class="form-check-input" type="radio" id="brutto" checked="" name="cheks"><label class="form-check-label" for="brutto" style="font-size: 20px;">Груженый</label></div>
                    <div class="form-check text-truncate d-flex align-items-center"
                        style="padding: 2px 30px;"><input class="form-check-input" type="radio" id="tara" name="cheks"><label class="form-check-label" for="tara" style="font-size: 20px;">Порожний</label></div>
                </div>
            </div>
        </div>
    </div>




 <!-- Modal ves -->
    <div class="modal fade" id="ves_modal" tabindex="-1" role="dialog" aria-labelledby="ves_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ves_modal">Изменение веса</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12">
                        <label for="vesKorrect">Введите вес для установки</label>
                        <input type="text" class="form-control text-left" style="width:50%" id="vesKorrect"
                        >
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" onclick="changeVes()" class="btn btn-primary">Изменить вес</button>
                </div>
            </div>
        </div>
    </div>






 <script>


     function correct() {
            addAction('Попытка изменить вес');
            $('#ves_modal').modal('show');
            $("#vesKorrect").val($("#vesFix").html());
        }
     // при изменении веса добавляем событие и проверяем введеное значение
           function changeVes() {
            if (filterInt($("#vesKorrect").val())) {
                addAction('изменен вес');
                $("#vesFix").html($("#vesKorrect").val());
                $('#ves_modal').modal('hide');
            } else {
                alert('не целое число');
            }

        }



        function fixVes() {
            addAction('вес зафиксирован');
            $("#vesFix").html($("#vesOnline").html());
        }

        function destroyFixVes() {
            addAction('вес сброшен');
            $("#vesFix").html(0);
        }


        var status = true;
        $("#brutto").click(function () {
            status = true;
            addAction('оператор указал авто как груженый');
            $("#status").html('брутто');
            $("#dov_otpr").css('display', 'block');
            $("#div_pol").css('display', 'none');
        });

        $("#tara").click(function () {
            status = false;
            addAction('оператор указал авто как порожний');
            $("#status").html('тара');
            $("#div_pol").css('display', 'block');
            $("#dov_otpr").css('display', 'none');
        });





        function correct_num() {
            addAction('Попытка корректировки номера авто');
            $('#gosnomeravto').modal('toggle');
            var num = $('#gos_num_avto').html();
            var arr = num.split('-');
            $("#seriaAvto").val(arr[1]);
            $('#gosNavto').val(arr[0]);
            $('#regionAvto').val(arr[2]);
        }


        function correct_num_pricep() {
            addAction('Попытка корректировки номера прицепа');
            $('#gosnomeravto').modal('toggle');
            var num = $('#gos_num_pricep').html();
            var arr = num.split('-');
            $("#seriaAvto").val(arr[1]);
            $('#gosNavto').val(arr[0]);
            $('#regionAvto').val(arr[2]);
            pricep = true;
        }

        function changeNumAvto() {
            if (!$('#gosNavto').val()) {
                addAction('оператор не указал номер');
                alert('Вы не указали номер ');
                $('#gosNavto').focus();
                return;
            }
            if (!$('#gosNavto').val().match(/[0-9]{4}/)) {
                addAction('оператор не правльно указал номер');
                alert("В поле  должны быть введены только  4 цифры");
                $('#gosNavto').focus();
                return;
            }

            if (!$('#seriaAvto').val()) {
                addAction('оператор не указал серию');
                alert('Вы не указали номер ');
                $('#seriaAvto').focus();
                return;
            }
            if (!$('#seriaAvto').val().match(/[A-Z]{2}/)) {
                addAction('оператор не правильно ввел буквенный указатель номера');
                alert("В поле  должны быть введены только 2 латинские буквы капс локом");
                $('#seriaAvto').focus();
                return;
            }

            if (!$('#regionAvto').val()) {
                addAction('оператор не указал регион');
                alert('Вы не указали номер ');
                $('#regionAvto').focus();
                return;
            }
            if (!$('#regionAvto').val().match(/[0-7]{1}/)) {
                addAction('оператор не правильно ввел регион');
                alert("В поле  должны быть введены только 1 цифрa от 0 до 7");
                $('#regionAvto').focus();
                return;
            }
            let num = $('#gosNavto').val() + "-" + $("#seriaAvto").val() + "-" + $("#regionAvto").val();
            if (pricep) {
                addAction('корректировка номера прицепа');
                $('#gos_num_pricep').html(num);

            } else {
                let retval=[];
                catalogAuto.forEach(function (a) {
                if (a.fields.number.indexOf($('#gosNavto').val()+$("#seriaAvto").val()+$("#regionAvto").val()) > -1) {
                    retval.push(a);
                    $("#data_auto").val(a.fields.model);
                    $("#data_auto").attr('data-id',a.pk);
                }
                 });
                if(!retval[0]){
                      alert('автотрансопрт не найден в каталоге авто');
                 }
                addAction('корректировка номера авто');
                $('#gos_num_avto').html(num);
            }
            $('#gosnomeravto').modal('hide');
        }

        $('#gosnomeravto').on('hidden.bs.modal', function (e) {
            pricep = false;
        })



 </script>
