<!DOCTYPE html>
<html lang="ru">
<head>
{% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} || System</title>
    <head>
   <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/Article-List.css' %}">

        <script src="{% static 'jq.js' %}"></script>
    <script src="{% static 'boostrap/js/bootstrap.min.js' %}"></script>
</head>
<body>

<style>
    .dropdown:hover > .dropdown-menu {
    display: block;
}
</style>

<header style="padding-bottom: 15px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ml-2 mr-2">
  <a class="navbar-brand" href="{% url 'ves:start' %}">Белресурсы</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 20px;">
    <ul class="navbar-nav mr-auto">
{#      <li class="nav-item active">#}
{#        <a class="nav-link" href="{% url 'ves:start' %}">Стартовая <span class="sr-only">(current)</span></a>#}
{#      </li>#}


{#        <li class="nav-item">#}
{#        <a class="nav-link" href="{% url 'ves:menu_ves'  %}">Взвешивание</a>#}
{#      </li>#}

         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'ves:menu_ves' %}" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Взвешивание
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown1">
{#            <a class="nav-link " href="{% url 'ves:menu_ves' %}">Меню</a>#}
            <a class="nav-link "   href="{% url 'ves:avto_ves' %}">Автотранспорт  <span id="automenu" class="badge badge-success">v</span></a>
            <a class="nav-link "  href="{% url 'ves:zd_ves' %}">Ж/Д транспорт <span id="zdmenu" class="badge badge-success">v</span></a>
            <a class="nav-link " href="{% url 'ves:avto_data' %}">Данные по авто</a>
            <a class="nav-link " href="{% url 'ves:zd_data' %}">Данные по Ж/Д</a>

        </div>
{#      </li>#}
{##}
{#        <li class="nav-item">#}
{#        <a class="nav-link" href="{% url 'ves:menu_data' %}">Данные</a>#}
{#      </li>#}


         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'ves:menu_data' %}" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Данные
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown2">
{#            <a class="nav-link " href="{% url 'ves:menu_data' %}">Меню</a>#}
              <a class="nav-link " href="{% url 'ves:contragents' %}">Контрагенты</a>
              <a class="nav-link " href="{% url 'ves:actions' %}">События</a>
            <a class="nav-link " href="{% url 'ves:users' %}">Пользователи</a>
            <a class="nav-link " href="{% url 'ves:catalogAuto' %}">Каталог автотранспорта</a>
            <a class="nav-link " href="{% url 'trailerShow' %}">Каталог прицепов</a>
            <a class="nav-link " href="{% url 'productionShow' %}">Каталог продукции</a>
             <a class="nav-link " href="{% url 'catalogcontract' %}">Каталог договоров</a>
            <a class="nav-link " href="{% url 'personShow' %}">Отвественные лица</a>
{#            <a class="nav-link " href="{% url 'ves:actions' %}">Сообщения</a>#}
        </div>
      </li>

{#        <li class="nav-item">#}
{#        <a class="nav-link" href="{% url 'ves:menu_ves' %}">Настройки</a>#}
{#      </li>#}

    </ul>

      <ul class="navbar-nav text-right mr-5" >
           <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user    }}
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">

            <a class="nav-link " href="{%   url 'logout' %}">Выйти</a>

        </div>
      </li>

      </ul>



  </div>
</nav>


</header>

{% block content %}



{% endblock %}
   {% csrf_token %}

<script>
    $('.dropdown-toggle').click(function(e) {
    if ($(document).width() > 768) {
        e.preventDefault();
        let url = $(this).attr('href');
        if (url !== '#') {
            window.location.href = url;
        }
    }
});
</script>

<script src="{% static 'popper.js' %}" ></script>
<script src="{% static 'b.min.js' %}" ></script>
<script>


  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }


    function falseAll(){
    let data ={"avto":false,"zd":false,"all":true};
              $.ajax({
                type: "POST",
                url: '{% url 'getDataAuto' %}',
                traditional: true,
                dataType: 'json',
                data: data,
                success: function (dat) {
                    console.log(dat);
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
}
let statusGlobalJs;
   function getstatus(){
    let data ={"avto":false,"zd":false,"all":true};
              $.ajax({
                type: "POST",
                url: '{% url 'getDataStatus' %}',
                traditional: true,
                dataType: 'json',
                data: data,
                success: function (dat) {
                    statusGlobalJs=dat;
                    if(dat.auto) {
                        document.getElementById('automenu').classList.remove("badge-success");
                        document.getElementById('automenu').classList.add("badge-warning");
                    }else{
                        document.getElementById('automenu').classList.add("badge-success");
                        document.getElementById('automenu').classList.remove("badge-warning");
                bootstrap    }
                    if(dat.zd) {
                        document.getElementById('zdmenu').classList.remove("badge-success");
                        document.getElementById('zdmenu').classList.add("badge-warning");
                    }else{
                        document.getElementById('zdmenu').classList.add("badge-success");
                        document.getElementById('zdmenu').classList.remove("badge-warning");
                    }
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
}
getstatus();
setTimeout(falseAll,2000);
setInterval(getstatus, 2000);
</script>
</body>
</html>